.inter-font {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    background-image: linear-gradient(to right top, #f10505, #ef6400, #e29800, #cac400, #a8eb12);
    height: 100%;
  }
.con-principal{
    text-align: center;
    justify-content: center;
}

header{
    padding: 20px;
}
h1{
    margin-top: 40px;
    font-size: 60px;
}
p{
    font-size: 20px;
}
.con-formulario{
    padding: 20px;
    display: flex;
    justify-content: center;
}
.formulario{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
    width: 20%;
}
.input{
    justify-content: center;
    padding: 10px;
    margin: 10px;
    text-align: center;
    border-radius: 20px;
    font-size: 20px;
}

#Btn-conversion{
    width: 80%;
    height: 80px;
    border: 2px solid #a8eb12;
    border-radius: 25px;
    font-size: 26px;
    color: #02147e;
    background: radial-gradient(circle, #f13005, #f15700, #f07400, #ee8d00, #eba312);
}